cite-or-die.localhost {
  encode zstd gzip
  reverse_proxy app:8000
  header {
    Strict-Transport-Security "max-age=31536000;"
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
  }
}
